.List {
	width: 500px;
	max-width: 80%;
	height: 300px;
	padding: 25px;
	background-color: #e6e6e6;

	.Header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			color: #3f3f3f;
			font-size: 20px;
		}

		i {
			font-size: 30px;
			color: #b0b0b0;
			transition: 0.4s ease;
			cursor: pointer;
		}
	}
	
	.ListContent {
		height: calc(100% - 35px);
		// padding-bottom: 40px;
		overflow-y: auto;
	}
}

.Item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		color: #8b8b8b;
	}

	div {
		display: flex;
		gap: 10px;

		i {
			font-size: 20px;
			color: #b0b0b0;
			transition: 0.4s ease;
			cursor: pointer;
		}
	}
}
